<h2>Admin</h2>
<h3>Businesses</h3>
<div>
    {{#if showBusinessForm}}
        {{add-business}}
    {{/if}}
    <button class="btn" {{action "addBusinessForm"}}>Add Business</button>
    <div class="businesses">
        {{#each model.businesses as |business|}}
            <div class="card-business">
                <div class="card-business__logo">
                    <img src="{{business.logo}}" alt="{{business.name}}"/>
                </div>
                <h2>{{business.name}} <small>added: {{moment-format business.dateAdded 'MM/DD/YYYY' 'MM-DD-YYYY'}}</small></h2>
                <p>{{business.description}}</p>
            </div>
        {{/each}}
    </div>
</div>

<div>
    <h3>Trace Types</h3>
    <form {{action 'addTraceType' on='submit'}}>
        <div class='input-group'>
            <label>Name:</label>
            {{input value=name}}
        </div>
        <div class='input-group'>
            <input type="submit" value="add trace type" class="btn"/>
        </div>
    </form>
    <ul>
        {{#each model.traceTypes as |type|}}
            <li>{{type.name}}</li>
        {{/each}}
    </ul>
</div>
