{{model.address1}}
<div class="btn" {{action 'saveTrace'}}>Save Trace</div>
{{#leaflet-map lat=model.lat lng=model.lng zoom=18 onClick=(action 'addPin')}}
    {{google-mutant-layer type="hybrid"}}
    {{#each pins as |pin|}}
        {{marker-layer lat=pin.lat lng=pin.lng draggable=true onDragend=(action 'updatePinLocation' r)}}
    {{/each}}
    {{polygon-layer locations=groundZone color="green"}}
    {{#each model.traces as |trace|}}
        {{#each trace.pins as |pin|}}
            {{marker-layer lat=pin.lat lng=pin.lng draggable=false}}
        {{/each}}
    {{/each}}
{{/leaflet-map}}