{{! select business }}
<h2>Select a business</h2>
<div>
    {{#each model as |business|}}
        {{#link-to 'business' business.id}}
            <div class="card-business card">
                <div class="card-business__logo">
                    <img src="{{business.logo}}" alt="{{business.name}}"/>
                </div>
                <div class="card-section">
                    <h4>{{business.name}} <small>added: {{moment-format business.dateAdded 'MM/DD/YYYY' 'MM-DD-YYYY'}}</small></h4>
                    <p>{{business.description}}</p>
                </div>
            </div>
        {{/link-to}}
    {{/each}}
</div>
{{! end business select}}
{{outlet}}
