{{! Attribute Business Description: Drop down of available companies with address text fields below. Allows user to select
a business then add it's address. }}
<div>
    <select value=company>
        {{#each model.companies as |company|}}
            <option value={{company.id}}>{{company.name}}</option>
        {{/each}}
    </select>
    <div class="input-group">
        <label>Address</label> {{input value=address type="text"}}
    </div>
    <div class="input-group">
        <label>City</label> {{input value=city type="text"}}
    </div>
    <div>
        <label>State</label> {{input value=state type="text"}}
    </div>
    <div class="btn" {{action "findAddress" on="click"}}>Go There</div>
</div>
{{! Rooftop or Parking Lot Select Description: Two options that are toggled to determine if the parking lot or the roof is
being traced by the user. }}
<div class="{{unless locationSet 'hidden'}}">
    <a class="btn">Parking Lot</a>
    <a class="btn">Roof</a>
</div>
{{! 
Leaflet Map Description: Map with google maps hybrid layer. User can click on the map to add points to create a polygon.
}} 
{{#leaflet-map lat=lat lng=lng zoom=zoom onClick=(action 'addPoint')}} 
    {{google-tile-layer type="HYBRID" opacity=0.9}} 
    {{#each groundPoints as |r|}}
        {{#marker-layer lat=r.lat lng=r.lng draggable=true onDragend=(action "updateLocation" r)}}
        {{/marker-layer}}
    {{/each}}
    {{#polygon-layer locations=groundZone color="green"}}
    {{/polygon-layer}}
{{/leaflet-map}}